<!DOCTYPE html>
<html ng-app="smplxApp">
<head lang="en" ng-app>
    <meta charset="UTF-8">
    <title>My test</title>
    <link rel="stylesheet" href="assets/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="assets/simplex.css">
    <script src="assets/jquery/dist/jquery.js"></script>
    <script src="assets/angular/angular.js"></script>
    <script src="assets/bootstrap/dist/js/bootstrap.js"></script>
    <script src="assets/mathjs/dist/math.js"></script>
    <script src="assets/simplex.js"></script>
    <script src="assets/mymath.js"></script>
</head>
    <body  ng-controller="ShowInputFields">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10">
                    <form>
                        <div class="dim-div"> Simplex dimension:
                            <input type="number" class="form-control dim-input" name="smplxDim" min="2" max="10" data-ng-model="smplxDim">
                        </div>
                        <div class="ver-div" ng-repeat="vertex in vertices  track by $index">
                            x<sup>({{$index+1}})</sup>
                            <div class="coord-div" ng-repeat="coord in vertex track by $index">
                                <input type="number" class="form-control" name="{{$parent.$index + '_' + $index}}" min="0" ng-model="vertices[$parent.$index][$index]" max="1" step="0.05" ng-value="coord">
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary btn-go" ng-click="calculate()">GO!</button>
                    </form>
                </div>
                <div class="col-md-10">
                    <form>
                        <div class="ver-div">
                        <div class="coord-div" ng-repeat="coord in vector  track by $index">
                            v<sub>{{$index+1}}</sub>
                                <input type="number" class="form-control" name="{{$index}}" min="0" ng-model="vector[$index]" max="1" step="0.05" ng-value="coord">
                        </div>
                        </div>
                        <button type="button" class="btn btn-primary btn-go" ng-click="calculateVector()">GO!</button>
                    </form>
                </div>
                <div class="col-md-10">
                    <form>
                        <div class="ver-div" ng-repeat="vertex in v  track by $index">
                            v<sup>({{$index+1}})</sup>
                            <div class="coord-div" ng-repeat="coord in vertex track by $index">
                                <input type="number" class="form-control" name="{{$parent.$index + '_' + $index}}" min="0" ng-model="v[$parent.$index][$index]" max="1" step="0.05" ng-value="coord">
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary btn-go" ng-click="calculateV()">GO!</button>
                    </form>
                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
    </body>
</html>